<div class="page-wrapper">
    <h1>Contact me!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aperiam porro, odit tenetur repellat ea iusto culpa nulla nobis. Voluptate eos, cum aut corporis sunt, neque nisi! Odio, sit, illum.</p>
</div>